.tft-welcome-banner {
    background-color: lightgrey;
    height: 70px;
}
.tft-search-container {
    padding:10px;
    background-color:#f8f8f8;
    border:#580000 solid 1px;
    border-bottom:#580000 solid 3px;
    border-top:0px;
}
.tft-dropdown-container {
    height:200px;
    overflow:auto;
}

#tft-home-tabs {
    background-color: #F0F0F0;
    border-bottom:#580000 solid 3px;
    border-top:#580000 solid 1px;
}
#tft-home-tabs a{
    color:#580000;
    font-weight:bold;
    font-size:1.1em;
}

.tft-family-toggle {
   text-align:left;
   height:10px;
}
.tft-thead {
    border-bottom:#580000 solid 3px;
    color:#480000;
    font-size:1.1em;
}
.tft-family-select {
    float:left;
    margin-left:5px;
}
