body {
    background-color:#a09e80;
}
img {
    width:100%;
    height :100%;
}
.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0.2;
}
#tft-navbar .navbar-inner {
    background-color:#e9e7d8;
   /* background-color: #a4b9cc; */
    background-image: none;
    background-repeat: no-repeat;
    filter: none;
    color:#000;
}
#tft-navbar .brand, #tft-navbar a{
    color:#000;
}
#tft-navbar .brand:hover, #tft-navbar a:hover{
    color:#990000;
    text-decoration:underline;
}
.tft-right-caret {
    margin-top:5px;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid #000000;
    display: inline-block;
    height: 0;
    opacity: 0.3;
    vertical-align: top;
    width: 0;
}
.tft-margin1 {
    margin:2px;
    padding:1px;
}
.tft-red-bottom-1 {
    border-bottom: #b90000 2px solid;
}
.tft-red-bottom-2 {
    border-bottom: #b90000 5px solid;
}
.tft-red-bottom-3 {
    border-bottom: #b90000 10px solid;
}
.tft-grey-bottom-1 {
    border-bottom: #7e7e7e 2px solid;
}
.tft-grey-bottom-2 {
    border-bottom: #7e7e7e 5px solid;
}
.tft-grey-bottom-3 {
    border-bottom: #7e7e7e 10px solid;
}
.tft-red-link a:hover {
    color:#990000;
    text-decoration:underline;
}
.checkbox {
    height:20px;
}
.checkbox:hover{
    border-bottom: 1px solid #990000;
    background-color:#eeeeee;
}
.tft-accordion-container {
    background-color:white;
    padding-left:5px;
    padding-right:0px;
    border:#f9f9f9 1px solid;
}

.tft-accordion-inner li {
    padding:0px;
    margin:0px;
   
}
.tft-white-btn {
    display:block;
    background-color:#fff;
    border:black 1px solid;
  /*  width:200px;*/
    display: inline-block;
    *display: inline;
    padding: 4px 12px;
    margin-bottom: 0;
    *margin-left: .3em;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    text-align: right;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    cursor: pointer;
    border: 1px solid #bbbbbb;
    *border: 0;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #a2a2a2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.tft-container {
    margin:0 auto;
    background-color:#fff;
}
.tft-welcome-banner {
    background-color: white ;
}
#tft-home-tabs {
    margin: 0px;
    background-color:#d5d2c4
}
#tft-home-tabs a{
    color:black;
    font-weight:bold;
    font-size:1.1em;
}

.tft-head {
    border-right: 1px solid #a5a294;
    border-bottom: 3px solid #a5a294;
    background-color:#ededed;
    font-size:1.1em
}
.tft-tab-header {
    padding-left: 20px;
    background-color:#e9e7d8;
}
.tft-form-container {
    margin:0px;
    padding-left:0px;
    background-color:#fcfcfc;
}
.tft-dropdown-container {
    max-height:200px;
    overflow:auto;
}

.tft-family-toggle {
   display:block;
   text-align:left;
   height:15px;
   font-size:1.1em;
   font-weight:bold;
   background-color:#fcfcfc;
}
.tft-family-toggle:hover {
   background-color:#0088cc;
   color:white;
   text-decoration:none;
}
.tft-family-select {
    float:left;
    margin-left:5px;
}
.tft-controls {
    border:#fafafa solid 1px;
}
.tft-summary {
    background-color:#fff;
    padding:1px;
    margin:0px;
    border:#dddddd solid 1px;
    
}
.tft-summary a{
    color:#ffaaaa;
    cursor:pointer;
}
.tft-summary a:hover{
    color:#990000;
}

.tft-summary-item-container {
    color:#456789;
    border:#eeeeee solid 1px;
    background-color:#f5f5f9;
    margin-top:4px;
}
.search-results {
    margin-left:30px;
    background-color:#fff;
}
.tft-label-result {
    margin-top:10px;
    margin-right:20px;
}
.tft-page-container {
    margin-top:2px;
    margin-bottom:2px;
}

.tft-result-container {
    padding:10px;
}

