<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN">
<html xml:lang="en" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery1.9.0.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.10.0.custom.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-linedtextarea.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/search.js"></script>


    <script id="tf-choices" type="text/javascript">{% autoescape off %}{{ tf_choices }}{% endautoescape %}</script>
    <script id="tft-species" type="text/javascript">{% autoescape off %}{{ tft_species }}{% endautoescape %}</script>
    <script id="tft-expt-types" type="text/javascript">{% autoescape off %}{{ tft_expt_types }}{% endautoescape %}</script>

    <link href="{{ STATIC_URL }}css/bootstrap.css" type="text/css" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" type="text/css" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}css/smoothness/jquery-ui-1.10.0.custom.min.css" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}css/jquery-linedtextarea.css" type="text/css" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}css/search.css" type="text/css" rel="stylesheet"/>


  </head>
  <body>
    <div id="tft-navbar" class="navbar navbar-top">
      <div class="navbar-inner">
        <div class="container tft-red-link">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="http://www.osu.edu/">The Ohio State University
            <b class="tft-right-caret"></b></a>
          <a class="brand" href="http://medicalcenter.osu.edu/research/Pages/index.aspx">Cancer Research</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">TFTarget</a></li>
            </ul>
            <ul class="nav pull-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">How To  <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Build your search</a></li>
                  <li><a href="#">Connect to PubMed </a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Export Data</li>
                  <li><a href="#">to csv file format</a></li>
                  <li><a href="#">to html file format</a></li>
                </ul>
              </li>
              <li><a href="#About">About</a></li>
              <li><a href="#Contact">Contact Us</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container tft-container">
      <div class="row tft-welcome-banner tft-margin1 tft-red-bottom-2">
        <div class="row ">
          <div class="span3">
            <img src="{{ STATIC_URL }}img/logo.png" alt="TFTarget">
          </div>
          <div class="span8">
              <h4>Bioinformatics Research Group</h4>
              <h3>The Ohio State University</h3>
          </div>
        </div>
      </div> <!-- row -->
      <div class="row tft-margin1 tft-grey-bottom-1">
        <ul class=" nav nav-tabs" id="tft-home-tabs">
          <li class="active"><a href="#direct-targets" data-toggle="tab">Direct Targets</a></li>
          <li><a href="#enrichment-analysis" data-toggle="tab">Enrichment Analysis</a></li>
          <li><a href="#query-database" data-toggle="tab">Query Database</a></li>
        </ul>
      </div>
      {% block body %}
      {% endblock %}
    </div>
  </body>
  <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-responsive.js"></script>
</html>

