{% extends "base.html" %}
{% block body %}
<div class="row tab-content tft-margin1">
  <div class="tab-pane active" id="direct-targets">
    <div class="row tft-tab-header">
      <div class="span5">
        <h3>Direct Targets</h3>
      </div>
      <div class="span9">
        <p>Find your targets directly. Filter the results below.</p>
      </div>
    </div> <!-- tab-header -->
    <div class="row tft-form-container">
      <legend class="tft-legend">Direct Target Database Search</legend>
      <form id="tft-search-form-0" class="form-horizontal row">
        <label>Transcription Factor</label>
        <div class="controls tft-controls">
          <div class="dropdown">
            <a id="tft-family-dropdown-toggle-0" data-target="#" class="tft-white-btn btn-block dropdown-toggle " role="button" data-toggle="dropdown">
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu tft-family-dropdown-menu ">
              <li>
                <div id="tft-family-accordion-0" class="accordion tft-dropdown-container span3">
                </div>
              </li>
            </ul>
          </div> <!-- dropdown -->
          <ul id="tft-tf-summary-0" class="nav inline tft-summary">
          </ul>
        </div>
        {% csrf_token %}
        {{ direct_targets_form }}
         <label>Species</label>
        <div class="controls">
          <div class="dropdown">
            <a id="tft-family-dropdown-toggle-0" data-target="#" class="tft-white-btn btn-block dropdown-toggle" role="button" data-toggle="dropdown">
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu ">
              <li>
                <div id="tft-species-dropdown-0" class="accordion tft-dropdown-container span3">
                </div>
              </li>
            </ul>
          </div> <!-- dropdown -->
        </div>
        <label>Organs</label>
        <div class="controls">
          <div class="dropdown">
            <a data-target="#" class="tft-white-btn btn-block dropdown-toggle" role="button" data-toggle="dropdown">
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu ">
              <li>
                <div id="tft-tissues-dropdown-0" class="accordion tft-dropdown-container span3">
                </div>
              </li>
            </ul>
          </div> <!-- dropdown -->
        </div>
      </form>
      <div class ="form-actions tft-red-bottom-1">
        <button type="submit" id="tft-search-btn-0" data-loading-text="Loading..." class="btn">Submit</button>
        <button type="button" id="tft-clear-form-btn-0" class="btn">Clear</button>
      </div>
      <div id="tft-popover-tf-0" style="display: none">
        <div id="tft-popover-tf-inner-0"></div>
      </div>
    </div>
    <div id="tft-result-container-0" class="row tft-result-container">
      <div class="navbar navbar-top tft-grey-bottom-1">
        <div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <div class="brand">
              <div class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Download Table<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="download/all" class="download-option all-pages">All Pages</a></li>
                  <li class="divider"></li>
                  <li><a href="download/page" class="download-option page-only">This Page</a></li>
                </ul>
              </div>
            </div><!--/.nav-collapse -->
            <div id="tft-page-container-top-0" class="pull-right">
            </div>
            <label id="tft-results-number-top-0" class="tft-label-result pull-right"></label>
          </div>
        </div>
      </div>
      <div id="search-results-0" class="row search-results">
      </div>
      <div class="navbar navbar-top tft-grey-bottom-1">
        <div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <div class="brand">
              <div class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Download Table<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="download/all" class="download-option all-pages">All Pages</a></li>
                  <li class="divider"></li>
                  <li><a href="download/page" class="download-option page-only">This Page</a></li>
                </ul>
              </div>
            </div><!--/.nav-collapse -->
            <div id="tft-page-container-bottom-0" class="pull-right">
            </div>
            <label id="tft-results-number-bottom-0" class="tft-label-result pull-right"></label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane tft-margin1" id="enrichment-analysis">
    <div class="row tft-tab-header">
      <div class="span5">
        <h3>Enrichment Analysis</h3>
      </div>
      <div class="span9">
        <p>It's more than just a gene.</p>
      </div>
    </div> <!-- tab-header -->
    <div class="row tft-form-container">
      
      <legend class="tft-legend">Direct Target Database Search</legend>
      <form id="tft-search-form-1" class="form-horizontal row">
        <label>List of Genes</label>
        <textarea id="tft-genelist" class="lined span4" rows="10"></textarea>
      </form>
      <div class ="form-actions tft-red-bottom-1">
        <button type="submit" id="tft-search-btn-1" data-loading-text="Loading..." class="btn">Submit</button>
        <button type="button" id="tft-clear-form-btn-1" class="btn">Clear</button>
      </div>
      <div id="tft-popover-tf-1" style="display: none">
        <div id="tft-popover-tf-inner-1"></div>
      </div>
    </div>
  </div>
  <div class=" tab-pane tft-margin1"  id="query-database">
    <div class="row tft-tab-header tft-red-bottom-1">
      <div class="span5">
        <h3>Query Database</h3>
      </div>
      <div class="span9">
        <p>Download the Transcription Factor Database. Filter the results below.</p>
      </div>
    </div> <!-- tab-header -->
    <div class="row tft-form-container">
      <legend class="tft-legend">Query Database Search</legend>
      <form id="tft-search-form-2" class="form-horizontal row">
        <label>Transcription Factor</label>  
        <div class="controls tft-controls"> 
          <div class="dropdown">
            <a id="tft-family-dropdown-toggle-2" data-target="#" class="tft-white-btn btn-block dropdown-toggle " role="button" data-toggle="dropdown">
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu tft-family-dropdown-menu">
              <li>
                <div id="tft-family-accordion-2" class="nav nav-stacked accordion tft-dropdown-container span3">
                </div>
              </li>
            </ul>
          </div> <!-- dropdown -->
          <ul id="tft-tf-summary-2" class="nav inline tft-summary">
          </ul>
        </div>
        {% csrf_token %}
        {{ querydb_form }}
        <label>Organs</label>
        <div class="controls">
          <div class="dropdown">
            <a data-target="#" class="tft-white-btn btn-block dropdown-toggle" role="button" data-toggle="dropdown">
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu ">
              <li>
                <div id="tft-tissues-dropdown-2" class="accordion tft-dropdown-container span3">
                </div>
              </li>
            </ul>
          </div> <!-- dropdown -->
        </div>
        <label>Species</label>
        <div class="controls">
          <div class="dropdown">
            <a id="tft-family-dropdown-toggle-2" data-target="#" class="tft-white-btn btn-block dropdown-toggle" role="button" data-toggle="dropdown">
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu ">
              <li>
                <div id="tft-species-dropdown-2" class="accordion tft-dropdown-container span3">
                </div>
              </li>
            </ul>
          </div> <!-- dropdown -->
        </div>
        <label>Experiment Type</label>
        <div class="controls">
          <div class="dropdown">
            <a data-target="#" class="tft-white-btn btn-block dropdown-toggle " role="button" data-toggle="dropdown">
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu ">
              <li>
                <div id="tft-expt-types-dropdown-2" class="accordion tft-dropdown-container span3">
                </div>
              </li>
            </ul>
          </div> <!-- dropdown -->
        </div>
      </form>
      <div class="form-actions tft-red-bottom-1">
        <button type="submit" id="tft-search-btn-2" data-loading-text="Loading..." class="btn">Submit</button>
        <button type="button" id="tft-clear-form-btn-2" class="btn">Clear</button>
      </div>
      <div id="tft-popover-tf-2" style="display: none">
        <label id="tft-popover-tf-inner-2"></label>
      </div>
    </div> <!-- form-container -->
    <div id="tft-result-container-2" class="row tft-result-container">
      <div class="navbar navbar-top tft-grey-bottom-1">
        <div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <div class="brand">
              <div class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Download Table<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="download/all" class="download-option all-pages">All Pages</a></li>
                  <li class="divider"></li>
                  <li><a href="download/page" class="download-option page-only">This Page</a></li>
                </ul>
              </div>
            </div><!--/.nav-collapse -->
            <div id="tft-page-container-top-2" class="pull-right">
            </div>
            <label id="tft-results-number-top-2" class="tft-label-result pull-right"></label>
          </div>
        </div>
      </div>
      <div id="search-results-2" class="row search-results">
      </div>
      <div class="navbar navbar-top tft-grey-bottom-1">
        <div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <div class="brand">
              <div class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Download Table<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="download/all" class="download-option all-pages">All Pages</a></li>
                  <li class="divider"></li>
                  <li><a href="download/page" class="download-option page-only">This Page</a></li>
                </ul>
              </div>
            </div><!--/.nav-collapse -->
            <div id="tft-page-container-bottom-2" class="pull-right">
            </div>
            <label id="tft-results-number-bottom-2" class="tft-label-result pull-right"></label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="tft-download-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">[X]</button>
    <h3 id="tft-modal-label">Selected Item(s)</h3> 
  </div>
  <div class="modal-body">
    <div class="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Warning!</strong> It might take few to several minutes to process the download.
    </div>
    <div id="tft-download-body">
      <h4 id="tft-download-status">.</h4>
      <a class="span2" id="tft-download-link" class="btn btn-success" href="#">Download Now</a>
      <div id="tft-download-progress" class="progress progress-striped active row">
        <div class="bar" style="width: 100%;">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>
</div>
{% endblock %}
